node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.local

# build output
dist
build
*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor junk
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# caches
.vite
.turbo
.cache
